:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --semi-dark-grayish-cyan: hsl(184, 14%, 56%);
  --medium-grayish-cyan: hsl(185, 41%, 84%);
  --light-grayish-cyan: hsl(189, 41%, 97%);
  --orangey: hsl(9, 60%, 68%);
}

.App {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;

  font-family: "Space Mono", monospace;
  font-size: 18px;
  font-weight: 700;
  color: var(--dark-grayish-cyan);
  background-color: var(--medium-grayish-cyan);
}

.App-logo {
  pointer-events: none;
}

.App-header {
  margin: auto;
}

.container {
  background-color: white;
  border-radius: 20px;
  display: flex;
  width: 60%;
  padding: 32px;
}

/* Left Container */

.left-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 16px;
  margin-right: 32px;

  justify-content: space-around;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.label-title {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.label-title .error {
  color: var(--orangey);
}

.input-container {
  display: flex;
  padding: 4px 16px;
  margin-top: 8px;
  align-items: center;
  justify-content: space-between;
  border: none;
  background-color: var(--light-grayish-cyan);
  border-radius: 5px;
}

.label input {
  flex: 1;
  height: auto;
  padding: 4px;
  border: none;
  background-color: var(--light-grayish-cyan);
  text-align: right;
  font-family: "Space Mono", monospace;
  font-size: 24px;
  font-weight: 700;
  color: var(--dark-cyan);
}

.label input:focus {
  outline: none;
}

.label input::-webkit-outer-spin-button,
.label input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.label input[type="number"] {
  -moz-appearance: textfield;
}

.right-container small {
  color: var(--light-grayish-cyan);
}

.tip-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 8px;
}

.tip-container button,
input {
  width: 30%;
  height: 50px;
  margin: 4px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: var(--light-grayish-cyan);
  background-color: var(--dark-cyan);
  font-family: "Space Mono", monospace;
  font-size: 24px;
  font-weight: 700;
}

.tip-container input {
  box-sizing: border-box;
  color: var(--dark-cyan);
  text-align: center;
  max-width: 30%;
  margin: 4px;
}

.tip-container button:focus {
  background-color: var(--strong-cyan);
  color: var(--dark-cyan);
}

.tip-container button:disabled {
  background-color: var(--strong-cyan);
  color: var(--dark-cyan);
}

.tip-container input:focus-within,
.input-container:focus-within {
  border: solid var(--strong-cyan);
}

/* Right Container */

.right-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: var(--dark-cyan);
  border-radius: 10px;
  padding: 32px;
  color: var(--light-grayish-cyan);
}

.right-container button {
  background-color: var(--strong-cyan);
  border: none;
  margin: 2em 0.5em 0.5em 0.5em;
  padding: 16px;
  color: var(--dark-cyan);
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.right-container button:disabled {
  cursor: not-allowed;
  background-color: var(--dark-grayish-cyan);
}

.row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row small {
  color: var(--semi-dark-grayish-cyan);
}

.row h1 {
  color: var(--strong-cyan);
  font-size: 50px;
}

@media only screen and (min-width: 1440px) {
  .App-header {
    margin: 3em;
  }
}
